.cart-main {
  width: 100%;
  min-height: calc(100vh - 56px);
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.cart-container-left {
  margin: 20px;
  border-radius: 5px;
  min-width: 600px;
  height: auto;
}
.cart-container-left h1 {
  padding: 10px;
  color: black;
  font-family: "PT Sans", sans-serif;
}
.cart-title {
  position: relative;
}
.cart-item-count {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 20px;
  background-color: rgb(192, 139, 15);
  color: yellow;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.cart-item {
  padding: 10px;
  margin: 20px 0px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 800px;
}
.cart-item-img,
.cart-item-details,
.cart-item-price {
  float: left;
}
.cart-item-img {
  width: 25%;
}
.cart-item-price {
  width: 25%;
}
.cart-item-details {
  width: 50%;
}
.cart-item-img img {
  background-color: rgba(255, 255, 255);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.cart-item-details h2,
h3,
h4,
h5 {
  padding: 5px;
}
.cart-item-details h2,
.cart-item-price h2 {
  font-size: 18px;
  font-family: "PT Sans";
}
.cart-item-details h3,
.cart-item-price h3 {
  font-size: 14px;
  font-family: "PT Sans";
}
.cart-More {
  font-size: 12px;
  background-color: blue;
  color: aliceblue;
  padding: 10px;
  font-family: "PT Sans";
  cursor: pointer;
  margin-left: 5px;
}
.cart-More:hover {
  background-color: rgb(15, 184, 240);
}
.remove-item {
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 60, 60);
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.cart-item-price {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.price-tag {
  background-color: greenyellow;
  padding: 10px;
  border-radius: 30px;
  color: black;
  font-family: "PT Sans";
  font-size: 14px;
}
.cart-item-price .avl-qty {
  color: rgb(27, 155, 206);
  letter-spacing: 1px;
}
.cart-item-price .avl-qty span {
  padding: 5px;
  background-color: rgb(27, 155, 206);
  color: black;
  font-family: "Courier New", Courier, monospace;
}
.cart-item-price table {
  font-size: 20px;
}
.cart-item-price table td {
  border: none;
}
td .fa-plus-square:hover {
  color: rgb(42, 216, 42);
  cursor: pointer;
}
td .fa-minus-square:hover {
  color: rgb(216, 42, 42);
  cursor: pointer;
}
.cart-item-price td {
  padding: 0px 10px 10px 5px;
}
.cart-item p {
  clear: both;
  color: rgba(255, 0, 13);
  font-weight: bold;
  padding: 10px;
}
.cart-container-right {
  background-color: rgb(255, 253, 253);
  padding: 20px;
  margin: 20px;
  max-height: 200px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  min-width: 400px;
}

.cart-net-amount,
.cart-net-shipping,
.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  font-weight: bold;
}
.cart-total p i {
  font-size: 10px;
}
.cart-checkout {
  height: 50px;
  width: 100%;
  background-color: rgb(90, 90, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.cart-checkout a {
  color: white;
}
.cart-checkout:hover {
  background-color: rgb(28, 28, 255);
  font-size: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.alert-cart-item {
  font-size: 12px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .cart-main {
    flex-direction: column;
  }
  .cart-container-left {
    min-width: unset;
  }
  .cart-container-right {
    margin-top: 20px;
    min-width: unset;
  }
}
.wishlist-remove {
  font-size: 16px;
  background-color: rgb(255, 113, 70);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 50px;
  font-family: "PT sans";
  letter-spacing: 2px;
}
.wishlist-remove:hover {
  background-color: red;
  transition: 0.3s;
}
@media only screen and (max-width: 600px) {
  .cart-item {
    min-width: 320px;
  }
  .cart-item-img,
  .cart-item-details,
  .cart-item-price {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .cart-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .remove-item {
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  .remove-item span {
    display: none;
  }
  .cart-item-details h2,
  .cart-item-price h2 {
    text-align: center;
  }
  .cart-item-details h3,
  .cart-item-price h3 {
    text-align: center;
  }
  .cart-item-price {
    margin-top: 10px;
  }
}
