.payment-cont {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 100%;
  min-height: calc(100vh - 60px);
}

.payment-cart {
  width: 100%;
}
.payment-cart-container {
  margin: 10px;
  border: 2px solid rebeccapurple;
  min-height: 280px;
  padding: 30px;
  border-radius: 10px;
}

.item-para {
  color: rgb(5, 155, 255);
  cursor: pointer;
}

.payment-cart-container h4 {
  margin: 13px 0px;
}

.payment-cart-container p {
  margin: 10px 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-book-title {
  max-width: 200px;
}
.payment-address-wrapper {
  width: 100%;
}

.payment-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px 20px;
  background-color: rgb(255, 255, 255);
}

.payment-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.billing-address {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.payment-payment {
  width: 50%;
  height: 693px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.payment-form label {
  margin-bottom: 10px;
  display: block;
}

.payment-form-btn {
  background-color: #00c47c;
  color: white;
  padding: 16px;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 17px;
  font-family: "PT Sans";
}

.payment-form-btn:hover {
  background-color: #01aa6c;
  font-size: 17px;
  letter-spacing: 2px;
  transition: 0.5s;
}

hr {
  border: 1px solid rgb(44, 44, 44);
  margin: 10px 0px;
}

span.price {
  float: right;
  color: rgb(42, 42, 42);
}

.payment-row h3 {
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .payment-cart-container {
    margin: 30px 10%;
  }
  .payment-row {
    flex-direction: column-reverse;
  }
  .billing-address {
    width: 100%;
  }
  .payment-payment {
    width: 100%;
  }

  .payment-form {
    margin: 0px;
  }
}
