.book-details-bg {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.book-main-container {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.book-snaps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-snaps .snapshot,
.book-snaps .video-snapshot {
  margin-top: 10px;
  height: 70px;
  width: 70px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}
.book-snaps .snapshot img {
  border-radius: 5px;
}
.book-snaps .snapshot:hover,
.book-snaps .video-snapshot:hover {
  box-shadow: 2px 2px 2px 2px rgba(255, 218, 6, 0.6);
}
.book-snaps-full {
  margin-top: 10px;
  margin-left: 10px;
  height: 500px;
  width: 400px;
}

#video-snap-full {
  display: none;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
.book-description {
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  margin-top: 10px;
  margin-left: 10px;
  height: 500px;
  width: 500px;
}
.book-purchase-container {
  margin-top: 10px;
  margin-left: 10px;
  width: 300px;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.book-purchase-container .wishlist-btn {
  margin: 10px;
  background-color: rgb(250, 54, 146);
  color: whitesmoke;
  font-family: "PT Sans";
  min-width: 200px;
}
.book-purchase-container .wishlist-btn:hover {
  background-color: rgb(235, 2, 111);
}
.book-purchase-container .addtocart-btn {
  margin: 10px;
  background-color: rgb(35, 219, 44);
  color: whitesmoke;
  font-family: "PT Sans";
  min-width: 200px;
}
.book-purchase-container .addtocart-btn:hover {
  background-color: rgb(12, 195, 21);
}
.book-purchase-container .buynow-btn {
  margin: 10px;
  background-color: rgb(75, 121, 246);
  color: whitesmoke;
  font-family: "PT Sans";
  min-width: 200px;
}
.book-purchase-container .buynow-btn:hover {
  background-color: rgb(38, 89, 228);
}
.book-description {
  color: black;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.book-fullname {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.book-subheading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.about-book {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
  border-bottom: 1px solid grey;
}
.book-rating {
  letter-spacing: 3px;
  color: rgb(231, 231, 35);
}
.book-cutomer-reviews a {
  background: #eee;
  border-radius: 3px;
  color: rgb(29, 79, 243);
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.book-cutomer-reviews a:hover {
  background: rgb(67, 246, 13);
  color: rgb(255, 255, 255);
}
.book-selling {
  padding-left: 20px;
  padding-top: 20px;
  color: rgb(44, 44, 44);
}
.book-mrp,
.book-selling-price,
.book-savings {
  padding-top: 10px;
}
.book-mrp b,
.book-selling-price b,
.book-savings b {
  font-family: "PT sans", sans-serif;
  letter-spacing: 1px;
}

.book-selling-price b {
  background-color: rgb(61, 194, 44);
  padding: 5px 10px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}
.book-savings b {
  background-color: rgba(0, 0, 0, 0.685);
  padding: 2px 10px;
  border-radius: 10px;
  color: white;
}
.book-other-details {
  padding-left: 20px;
  padding-top: 20px;
}
.book-tags {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.book-tags {
  margin: 10px;
  font: 12px/1.5 "PT Sans", serif;
}

.tag {
  background: rgb(200, 200, 200);
  border-radius: 3px 0 0 3px;
  color: rgb(107, 107, 107);
  display: inline-block;
  height: 26px;
  max-width: 200px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "PT sans";
  cursor: pointer;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid rgb(200, 200, 200);
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
  border-left-color: crimson;
}

.book-seller {
  padding-left: 20px;
}
.book-seller-name a {
  color: grey;
  letter-spacing: 1px;
}
.book-seller-rating {
  margin-top: 5px;
  color: rgb(16, 106, 250);
}

@media screen and (max-width: 800px) {
  .book-details-bg {
    flex-direction: column;
  }
  .book-snaps-full {
    height: 200px;
    width: 225px;
  }
  .book-description {
    width: unset;
    padding: 20px 10px;
    margin: 0;
  }
}

.deleted-book-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff8f;
  z-index: 10;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleted-book-content {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 16px;
  color: #e40a0a;
  border: 3px solid #e40a0a;
  margin-bottom: 58px;
}

@media screen and (max-width: 450px) {
  .book-subheading {
    flex-direction: column;
    align-items: flex-start;
  }
  .book-subheading span {
    margin: 0.5rem 0;
  }
  .book-selling,
  .book-other-details,
  .book-seller {
    padding-left: 0;
  }
}
