.book-details-snap .book-snapshots {
  width: 100px !important;
  height: 100px !important;
  cursor: pointer;
}

.book-details-snap .book-large-snapshot {
  width: 400px !important;
  height: 450px !important;
}
.book-details-tag-stack div {
  margin: 8px 8px 0px 8px !important;
}
.book-large-snapshot {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.book-large-snapshot img {
  object-fit: contain;
}
@media screen and (max-width: 600px) {
  .book-details-snap .book-snapshots {
    width: 70px !important;
    height: 70px !important;
  }
  .book-details-snap .book-large-snapshot {
    width: 200px !important;
    height: 250px !important;
  }
  .book-details-tag-stack {
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .book-details-tag-stack div {
    margin: 4px !important;
  }
}
