.verification-container-login button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  letter-spacing: 2px;
  width: 300px;
  color: black;
  font-family: "Staatliches", cursive;
  background-image: linear-gradient(
    to right,
    rgb(213, 228, 6),
    rgb(6, 226, 24)
  );
  opacity: 0.4;
}
.verification-container-login button:hover {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  transform: scale(1.01, 1.01);
  transition: 0.1s;
  color: white;
}
.verification-container-login button:focus {
  outline: none;
}
