.addreviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.addreview {
  padding: 10px 35px;
  display: flex;
  width: 800px;
  flex-direction: column;
}

.review-by {
  background-color: #3498db;
  width: 800px;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid whitesmoke;
}

.review-header {
  padding: 20px 0px;
  color: rgb(113, 113, 231);
  text-align: justify;
}

.review-main {
  display: flex;
  flex-direction: row;
}

.main-rating {
  display: flex;
  flex-direction: column;
}

.desc {
  margin-left: 25px;
}

.desc-form > p {
  margin-top: 14px;
  font-style: italic;
  color: rgb(112, 112, 112);
}

.desc-input {
  background-color: rgb(241, 241, 241);
  border: none;
  text-decoration: none;
  height: 160px;
  width: 100%;
  padding: 20px;
  outline: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.desc-input::placeholder {
  font-family: "Roboto", sans-serif;
}
.desc-input:focus {
  border: 1px solid rgb(255, 160, 35);
  box-shadow: 2px 2px 3px rgba(255, 160, 35, 0.2);
  letter-spacing: 1px;
  transition: 0.3s;
}
.desc p {
  color: rgb(114, 190, 0);
}
.rating {
  /* border: 2px solid black; */
  display: flex;
  padding: 20px 0px;
}

.star {
  padding-right: 25px;
}

.rating > p {
  margin-left: 30px;
  margin-top: 16px;
  color: #3498db;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-submit {
  width: 160px;
  height: 40px;
  background-color: #65b8f0;
  color: white;
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-submit:hover {
  background-color: #258bcf;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  width: 180px;
  transition: 0.5s;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}
.btn-delete {
  background-color: #fa2828;
  color: white;
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
}
.btn-delete:hover {
  background-color: #df0000;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.star {
  font-size: 55px;
}

@media (max-width: 710px) {
  .addreview {
    width: 550px;
  }
}
@media (max-width: 650px) {
  .addreview {
    width: 500px;
  }
  .rating > p {
    margin-left: 0px;
  }
  .star {
    font-size: 50px;
  }
}

@media (max-width: 600px) {
  .addreview {
    width: 450px;
  }
  .desc {
    margin-left: 20px;
  }
  .star {
    font-size: 45px;
    padding-right: 20px;
  }
  .desc-input {
    font-size: 17px;
  }
}

@media (max-width: 520px) {
  .addreview {
    width: 400px;
  }
  .desc {
    margin-left: 5px;
  }
  .rating {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  .rating > p {
    margin-top: 0px;
  }

  .star {
    font-size: 45px;
  }
}

@media (max-width: 410px) {
  .addreview {
    width: 350px;
    padding: 10px;
    margin: 5px;
  }
  .desc-input {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .addreview {
    width: 300px;
  }

  .desc {
    margin-left: 0px;
  }
  .desc-input {
    padding: 10px;
  }
}

@media (max-width: 300px) {
  .addreview {
    width: 250px;
  }
}
@media (max-width: 250px) {
  .addreview {
    width: 200px;
  }
  .star {
    font-size: 35px;
    padding-right: 10px;
  }
}
