.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 4px solid red; */
}

.review{
    padding: 10px 35px;
    display: flex;
    width: 50%;
    height: 65%;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid blue; */

}

.review-by{
    padding-left: 38px;
    background-color:#3498db;
    width: 50%;
    height: 70px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
}

.review-header{
    padding: 20px 0px;
    display: flex;
    /* border: 2px solid orange; */
}

.review-main{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid green; */
}

.main-book{
    /* border: 2px solid yellow; */
}

.main-rating{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid yellow; */
}

.desc{
    margin-left: 25px;
}

.desc-form > p{
    margin-top:14px;
    font-style: italic;
    color: rgb(112, 112, 112);
}

.desc-input{
    background-color: rgb(241, 241, 241);
    border: none;
    text-decoration: none;
    height: 160px;
    width:511px;
}

.desc-input::placeholder{
    padding: 20px;
}


.rating{
    border: 2px solid b;
    display: flex;
    padding: 20px 0px;
}

.star{
    padding-left: 25px;
}

.rating > p{
    margin-left: 30px;
    margin-top: 16px;
    color: #3498db;
}

.btn{
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid #3498db; */
}

.btn-submit{
    width: 100px;
    height: 40px;
    background-color: #3498db;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    
}
.btn-submit:hover{
    background-color: #60abdd;
    box-shadow: 3px 5px 9px rgba(8, 1, 1, 0.9);
  border-top: 2px solid whitesmoke;
  border-left: 2px solid whitesmoke;
  /* border-right: 2px solid whitesmoke; */

}



.btn-submit:hover{
    width: 105px;
    cursor: pointer;

}



input[type="radio"]{
    display: none;
}

.star{
    cursor: pointer;
    transition: color 200ms;
}




