@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(253, 150, 150);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(253, 116, 116);
}
a {
  text-decoration: none;
  cursor: pointer;
}
.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
/* css loader */

#loading {
  width: 1.5rem;
  height: 1.5rem;
  border: 6px solid #ffffff;
  border-top: 6px solid #790000;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 0.5s infinite linear;
  padding: 0.5rem;
}
.page-loader {
  position: absolute;
  height: calc(100vh - 90px);
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-loader .page-loading {
  width: 10rem;
  height: 10rem;
  border: 6px solid #ffffff;
  border-top: 6px solid #4e76fb;
  border-radius: 100%;
  display: none;
  animation: spin 1s infinite linear;
  padding: 0.5rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
