.cont {
  padding-top: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: "PT sans";
}
.heading-wrapper {
  display: inline-block;
  width: 100%;
  padding: 0px 30px;
}
.heading {
  display: inline-block;
}
.heading-para {
  display: inline-block;
  position: absolute;
  right: 40px;
}

.heading-para a {
  color: #525252;
  text-decoration: none;
  margin-bottom: 20px;
}

.heading-para a:hover {
  color: #222222;
  transition: 0.3s ease-out;
  transition: all 0.2s ease-in-out;
  background-position: 0 100%;
  transform: translateX(5px);
}

.item-wrapper {
  color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0px;
}
.item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 230px;
  width: 240px;
  cursor: pointer;
}

.item-p a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.item-p a:hover {
  color: #013b88;
}

.i1 {
  background-color: rgb(238, 255, 238);
}
.i2 {
  background-color: rgb(255, 255, 233);
}
.i3 {
  background-color: rgb(255, 241, 241);
}
.i4 {
  background-color: rgb(255, 251, 238);
}
.i5 {
  background-color: rgb(241, 248, 255);
}

.i1:hover {
  background-color: rgb(123, 248, 123);
  transition: 0.3s;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.i2:hover {
  background-color: rgb(255, 255, 131);
  transition: 0.5s;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.i3:hover {
  background-color: rgb(255, 177, 177);
  transition: 0.5s;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.i4:hover {
  background-color: rgb(255, 229, 145);
  transition: 0.5s;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.i5:hover {
  background-color: rgb(152, 203, 253);
  transition: 0.5s;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.item-image {
  width: 30%;
}

.item-h6 {
  font-size: 20px;
  margin: 20px 0px;
  font-family: "PT Sans";
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 25px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading-para {
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
  }
}
