.password-recovery-bg input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(35, 47, 62) inset;
  -webkit-text-fill-color: rgb(255, 255, 255);
}
.password-recovery-bg input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px rgb(35, 47, 62) inset;
}

.otp-input-field {
  width: 100%;
  height: 32px;
  border-radius: 0.25rem;
  font-size: 16px;
  font-family: "PT sans";
  text-align: center;
  background-color: #f3f6f9;
  color: #3f4254;
  outline: 0;
  border: 2px solid rgb(66, 66, 66);
  letter-spacing: 5px;
}
.otp-input-field:focus {
  box-shadow: 0 0 0 3px rgb(66 153 225 / 50%);
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease;
}
.otp-input-field-mobile {
  display: none;
  width: 180px;
  height: 32px;
  border-radius: 0.25rem;
  font-size: 16px;
  font-family: "PT sans";
  letter-spacing: 6px;
  text-align: center;
  background-color: #f3f6f9;
  color: #3f4254;
  outline: 0;
  border: 2px solid rgb(66, 66, 66);
}
.otp-input-field-mobile:focus {
  box-shadow: 0 0 0 3px rgb(66 153 225 / 50%);
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease;
}
@media screen and (max-width: 400px) {
  #otp {
    display: none !important;
  }
  .otp-input-field-mobile {
    display: block;
  }
}
