/* Admin-panel-css */
.adminpanel-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: "PT sans";
}

/* Messages css */
.msg-container .MuiIconButton-root {
  padding: 13px !important;
}

/* GetOrderDeatils css */
.admin-orders .MuiDataGrid-cell {
  font-size: 10px !important;
}

.admin-orders .MuiChip-root {
  cursor: pointer;
  font-family: "PT sans";
}

.admin-orders i.fas.fa-rupee-sign,
.datagrid-stack-wallet i.fas.fa-rupee-sign {
  font-size: 12px;
}
#admin-expected-delivery-date {
  display: block;
  position: relative;
  padding: 1rem 3.5rem 1rem 0.75rem;

  font-size: 1rem;
  font-family: monospace;

  border: 1px solid #8292a2;
  border-radius: 0.25rem;
  background: white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
    right 1rem center no-repeat;

  cursor: pointer;
}
#admin-expected-delivery-date:hover::-webkit-calendar-picker-indicator {
  opacity: 0.05;
}
#admin-expected-delivery-date:hover::-webkit-calendar-picker-indicator:hover {
  opacity: 0.15;
}
#admin-expected-delivery-date:focus {
  outline: none;
  border-color: #3acfff;
  box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

#admin-expected-delivery-date::-webkit-datetime-edit {
}
#admin-expected-delivery-date::-webkit-datetime-edit-fields-wrapper {
}
#admin-expected-delivery-date::-webkit-datetime-edit-month-field:hover,
#admin-expected-delivery-date::-webkit-datetime-edit-day-field:hover,
#admin-expected-delivery-date::-webkit-datetime-edit-year-field:hover {
  background: rgba(0, 120, 250, 0.1);
}
#admin-expected-delivery-date::-webkit-datetime-edit-text {
  opacity: 0;
}
#admin-expected-delivery-date::-webkit-clear-button,
#admin-expected-delivery-date::-webkit-inner-spin-button {
  display: none;
}
#admin-expected-delivery-date::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 2.5rem;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 120, 250, 1);
  background: rgba(0, 120, 250, 1);
}
