/* Admin-panel-css */
.adminpanel-container {
  display: flex;
  background-color: rgb(231, 231, 231);
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: "PT sans";
}

.adminpanel-bar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1005;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  background-color: black;
}

.adminpanel-bar a {
  height: 60px;
  color: white;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: 2px;
}
.adminpanel-bar a:hover {
  color: black;
  background-color: rgb(233, 232, 232);
  transition: 0.3s;
  cursor: pointer;
}
/* orders-css */
.panel-orders-container {
  background-color: rgb(0, 95, 179);
  width: 100%;
}

.panel-orders-ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.panel-orders-ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  color: white;
  list-style: none;
  letter-spacing: 2px;
}
.panel-orders-ul li:hover {
  background-color: rgb(23, 145, 251);
  cursor: pointer;
  transition: 0.3s;
}

/* FindProfile css */
.findprofile-cont {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.findprofile-email-input {
  width: 400px;
  height: 55px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0.1px solid rgb(240, 79, 79);
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.findprofile-email-input::placeholder {
  color: rgb(240, 79, 79);
}

.findprofile-email-input:focus {
  border: 0.5px solid rgb(97, 226, 136);
  transition: 0.3s ease-in-out;
}

.findprofile-email-input:focus::placeholder {
  color: rgb(97, 226, 136);
}

.findprofile-email-button {
  padding: 15px 45px;
  font-size: 20px;
  margin: 0px 30px;
  outline: none;
  background-color: black;
  color: white;
  border: none;
  font-family: "PT sans";
  letter-spacing: 2px;
}

.findprofile-email-button:hover {
  background-color: rgb(240, 79, 79);
  transition: 0.2s ease-in-out;
  font-weight: bold;
}

.findprofile-profile-box {
  margin: 60px 0px;
  min-height: 400px;
  min-width: 400px;
  background-color: rgb(63, 63, 63);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

/* Messages css */
.messages-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 30px;
  font-family: "PT sans";
}

.messages-item {
  background-color: rgb(123, 189, 219);
  display: flex;
  width: 80%;
  flex-direction: column;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
  margin: 14px 0px;
  position: relative;
}

.messages-item-top {
  display: flex;
  margin-bottom: 21px;
}

.messages-item-top p {
  width: 50%;
}

.messages-item-middle {
  display: flex;
  margin-bottom: 21px;
  height: 50px;
}

.messages-item-middle p {
  display: flex;
  align-items: center;
}

.messages-middle-sub-containt {
  width: 50%;
  background-color: white;
  margin-left: 20px;
}

.messages-item-bottom {
  display: flex;
  flex-direction: column;
}

.messages-bottom-message-containt {
  margin-top: 12px;
  height: 150px;
  width: 100%;
  background-color: white;
}
.delete-message,
.markasread-message {
  position: absolute;
  float: right;
  font-size: 30px;
  cursor: pointer;
}
.delete-message {
  top: 15px;
  right: 30px;
  color: rgb(192, 3, 3);
}
.markasread-message {
  top: 60px;
  right: 30px;
  color: rgb(0, 151, 45);
}
.messages-subject {
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  height: auto;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
}
.messages-desc {
  width: 100%;
  height: 150px;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
}

/* GetOrderDeatils css */
.god-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: rgb(231, 231, 231);
}

.god-search {
  margin-bottom: 50px;
}

.god-search-id {
  padding: 15px 20px;
  width: 350px;
  border: 0.1px solid rgb(240, 79, 79);
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.god-search-id::placeholder {
  color: rgb(240, 79, 79);
}

.god-search-id:focus {
  border: 0.5px solid rgb(97, 226, 136);
  transition: 0.3s ease-in-out;
}

.god-search-id:focus::placeholder {
  color: rgb(97, 226, 136);
}

.god-search-button {
  padding: 15px 20px;
  margin-left: 20px;
  width: 150px;
  display: inline-block;
  outline: none;
  background-color: black;
  color: white;
  border: none;
  font-family: "PT sans", sans-serif;
  letter-spacing: 2px;
}

.god-search-button:hover {
  background-color: rgb(240, 79, 79);
  transition: 0.2s ease-in-out;
  font-weight: bold;
}
.god-table {
  margin: 20px;
}
.god-table table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.god-table th {
  padding: 20px;
  text-align: left;
  background-color: rgb(65, 64, 64);
  color: white;
}

.god-table td {
  padding: 20px;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

.god-table tr:nth-child(even) {
  background-color: #eee;
}

.god-table tr:nth-child(odd) {
  background-color: #fff;
}

/* Sellers css */
.sellers-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0px;
}

.sellers-btns {
  display: flex;
}

.sellers-btns-button {
  padding: 14px;
  width: 250px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.sellers-items-outer-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sellers-items-cont {
  background-color: black;
  color: white;
  min-width: 250px;
  max-width: 500px;
  min-height: 250px;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sellers-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sellers-desc {
  margin-top: 30px;
  cursor: pointer;
}

/* BookVerification css */

.bv-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0px;
  background-color: rgb(231, 231, 231);
}

.bv-btns {
  display: flex;
  padding: 14px;
  width: 250px;
  outline: none;
  font-family: "PT sans", sans-serif;
  border: none;
  outline: none;
  letter-spacing: 2px;
  font-size: 18px;
}

.bv-items-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bv-items-inner-cont {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  border: 2px solid grey;
  padding: 15px;
  position: relative;
}

.bv-item1 {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bv-item2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 15%;
  margin-top: 20px;
  padding: 0px 9px;
  display: flex;
  justify-content: space-between;
}
.bv-verify {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reject-book {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: red;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 0px 5px;
}
.Reject-msg {
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.reject-btn {
  margin: 5px;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.Delete-book {
  position: absolute;
  float: right;
  top: 0px;
  right: 0px;
  font-size: 14px;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 5px;
}
.admin-bookdetails-btn {
  margin: 10px;
}
