.address-bg {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.address-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.address-form fieldset {
  border-radius: 5px 5px 0px 0px;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.address-form fieldset legend {
  padding: 10px;
  font-family: "PT sans";
  font-size: 20px;
}

.address-form select {
  background-color: rgba(0, 0, 0, 0.06);
  font-size: 12px;
}
.address-label {
  width: 35%;
  margin-right: 5px;
}
.address-desc {
  width: 60%;
}
.address-desc input,
.address-desc label {
  font-family: "Pt sans";
  font-size: 12px;
}

.address-zip {
  width: 100%;
  display: flex;
  margin-top: 5px;
}
.address-form .address-label select {
  width: 100%;
  height: 50px;
  font-family: "PT sans";
  border: none;
  color: #000000;
  box-shadow: 0 4px 10px rgba(0, 29, 54, 0.04);
  border-radius: 5px 5px 0px 0px;
}

.address-form .address-zip select {
  width: 35%;
  height: 50px;
  font-family: "PT sans";
  border: none;
  color: #000000;
  box-shadow: 0 4px 10px rgba(0, 29, 54, 0.04);
  border-radius: 5px 5px 0px 0px;
}
.address-form .address-zip input {
  font-family: "PT sans";
  border: none;
  color: #000000;
  font-size: 12px;
  min-width: 200px;
}
.address-form .address-zip label {
  font-family: "PT sans";
  font-size: 12px;
}
.address-zip #state {
  margin-right: 5px;
}
label.pincode {
  font-family: "PT sans";
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -20px;
  font-size: 12px;
}
.address-zip span {
  width: 30%;
}
.address-zip #pincode {
  width: 100%;
  height: 50px;
  font-family: "PT sans";
  border: none;
  color: #000000;
  box-shadow: 0 4px 10px rgba(0, 29, 54, 0.04);
  letter-spacing: 20px;
  text-align: center;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 5px 5px 0px 0px;
}
.address-form .address-phoneNo {
  width: 100%;
  margin-top: 5px;
  display: flex;
}
.address-form .address-phoneNo span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin-right: 5px;
}
.address-form .address-phoneNo span label {
  font-family: "PT Sans";
  font-size: 12px;
}

#phone-no,
#alt-phone-no {
  max-width: 300px;
  letter-spacing: 20px;
  padding-left: 5px;
  height: 50px;
  width: 100%;
  font-size: 12px;
  font-family: "PT sans";
  border: none;
  color: #000000;
  box-shadow: 0 4px 10px rgba(0, 29, 54, 0.04);
  background-color: rgba(0, 0, 0, 0.06);
}
.address-form button {
  border-radius: 0px 0px 5px 5px;
  margin-top: -2px;
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  font-family: "PT sans";
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: rgb(8, 218, 8);
}
.address-form button:hover {
  background-color: #2fbb04;
  color: #fff;
}
.address-lists {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.fas.fa-window-close {
  font-size: 30px;
  cursor: pointer;
  color: rgb(255, 93, 93);
}
i.fas.fa-window-close:hover {
  color: rgb(230, 11, 11);
}

@media screen and (max-width: 450px) {
  .address-bg {
    padding: 10px;
  }
  .address-form {
    width: 100%;
  }
  .address-form fieldset {
    flex-direction: column;
  }
  .address-form fieldset div {
    width: 100%;
  }
  .address-label {
    margin-bottom: 5px;
  }
  .address-zip {
    flex-direction: column;
    align-items: center;
  }
  .address-form .address-zip select,
  .address-form .address-zip input {
    width: 100%;
  }
  .address-zip #state {
    margin-left: 0px;
    margin-right: 0px;
  }
  .address-zip #state,
  .address-zip #country,
  .address-form .address-zip input {
    margin-left: 0px;
    margin-bottom: 5px;
  }
  .address-form .address-zip input {
    margin: 0px;
  }
  .address-zip span {
    width: 100%;
    margin-top: 10px;
  }
  .address-zip #pincode {
    margin-left: 0px;
  }
  .address-phoneNo {
    display: flex;
    flex-direction: column;
  }
  #phone-no,
  #alt-phone-no {
    padding-left: 10px;
    letter-spacing: 10px;
    color: blue;
  }
  .address-lists {
    overflow-x: scroll;
    padding: 5px;
    justify-content: flex-start;
  }
  .orders-details {
    padding: 10px 0px;
    overflow-x: auto;
  }
}
