.address-form-stack {
  width: 100%;
}
.address-form-stack .MuiSelect-select {
  font-family: "PT sans" !important;
  font-size: 12px;
}
.MuiMenuItem-root {
  font-family: "PT sans" !important;
  font-size: 12px !important;
}
.address-datagrid-stack .MuiDataGrid-columnHeaderTitle {
  font-family: "PT sans" !important;
}
.address-datagrid-stack .MuiDataGrid-cell {
  white-space: normal !important;
}
