/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(247, 224, 189);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 182, 73);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(243, 155, 23);
}

a {
  text-decoration: none;
  cursor: pointer;
}