.best-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: "PT Sans";
}

.bs-header {
  width: 100%;
  padding: 10px;
}
.header-heading {
  width: 100%;
  display: inline-block;
  font-size: 20px;
}

.header-viewall {
  display: inline-block;
  position: absolute;
  right: 20px;
}

.header-viewall a {
  color: #525252;
  text-decoration: none;
  margin-bottom: 20px;
}

.header-viewall a:hover {
  color: #222222;
  transition: 0.3s ease-out;
  transition: all 0.2s ease-in-out;
  background-position: 0 100%;
  transform: translateX(5px);
}

.bs-books {
  display: flex;
  padding: 0px 30px;
  margin: 20px 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.book {
  display: flex;
  flex-direction: column;
  border: 0.2px solid rgb(226, 226, 226);
  width: 290px;
  height: 350px;
}
.book:hover {
  transition: 0.5s;
  box-shadow: 4px 5px 9px rgba(78, 78, 78, 0.9);
  border: none;
}

.book-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.book-details {
  display: flex;
  flex-direction: column;
  margin: 0px 35px;
  align-items: flex-start;
  padding: 4px;
}

.details-para1 {
  font-size: 14px;
  color: rgb(252, 62, 62);
  padding-top: 10px;
}

.details-para2 {
  font-weight: 500;
  padding: 8px 0px;
}

.details-para3 {
  color: rgb(99, 99, 99);
  padding: 6px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.details-para4 {
  font-weight: 500;
  color: rgb(81, 205, 50);
}

.hidden-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cart {
  color: rgb(79, 145, 207);
  font-weight: 490;
  font-size: 18px;
  padding: 4px 15px;
  margin: 4px 20px;
}
.hidden-items i {
  margin-top: 8px;
  margin-right: 25px;
}

.cart:hover {
  color: rgb(29, 68, 104);
  background-color: rgb(241, 241, 241);
  border-radius: 40px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .bs-books {
    padding: 0;
  }
  .header-heading {
    font-size: 25px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-viewall {
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
  }
  .book {
    height: 300px;
  }
  .book img {
    height: 150px !important;
  }
}
