.item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 200px;
  width: 230px;
  cursor: pointer;
  background-color: rgb(238, 255, 238);
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.item:hover {
  background-color: rgb(123, 248, 206);
  transition: 0.3s;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.item-h6 {
  font-size: 14px;
  margin: 20px 0px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  color: rgb(36, 36, 36);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .categories h4 {
    font-size: 24px !important;
  }
  .categories h6 {
    font-size: 10px !important;
  }
  .categories .MuiAvatar-root {
    height: 30px;
    width: 30px;
  }
  .categories .MuiTypography-caption {
    font-size: 9px;
  }
  .item {
    height: 125px;
    width: 125px;
  }
  .item {
    margin-bottom: 10px !important;
  }
}
