.categories {
  padding-top: 10px;
  background-color: #0a2540;
  color: whitesmoke;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 230px;
  width: 100%;
  max-width: 350px;
  cursor: pointer;
  background-color: rgba(45, 90, 135, 0.3);
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  border: 0.5px solid rgba(255, 255, 255, 0);
}
.item:hover {
  background-color: rgba(45, 90, 135, 0.8);
  transition: 0.3s;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}
.item-h6 {
  font-size: 1em;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .categories h4 {
    font-size: 16px !important;
    font-weight: bolder !important;
    font-size: 24px !important;
  }
  .categories h6 {
    font-size: 12px !important;
    font-weight: bolder !important;
    font-size: 10px !important;
  }
  .categories .MuiAvatar-root {
    height: 50px;
    width: 50px;
  }
  .categories .MuiTypography-caption {
    font-size: 9px;
    padding: 6px 0px;
    width: 50px;
  }
  .item {
    height: 125px;
    width: 125px;
  }
  .item-h6 {
    font-size: 12px !important;
    margin-top: 40px;
  }
}
