.nav-mobile-item {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-desktop-item {
    display: none !important;
  }
  .sidenav-menu li {
    min-height: 0 !important;
  }
  .nav-mobile-item {
    display: block;
  }
}
