.main-navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1005;
}
.navbar-container {
  background: linear-gradient(90deg, rgb(17, 16, 16) 0%, rgb(63, 62, 62) 100%);
  width: 100%;
  overflow: hidden;
  padding: 0px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
}
.Sidenav-open {
  display: none;
}
.navbar-logo {
  height: 100%;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-items ul {
  margin-left: 150px;
  height: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-items li {
  margin: 10px;
}

.navbar-items-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  cursor: pointer;
}
.navbar-items-chip a,
.navbar-items-chip p {
  padding: 10px;
  color: white;
}
.navbar-items-chip a:hover,
.navbar-items-chip p:hover {
  background-color: rgba(207, 199, 199, 0.452);
}

.navbar-items-chip a.cart-icon {
  padding: 0;
  font-size: 20px;
}
.navbar-items-chip a.cart-icon:hover {
  background-color: transparent;
}
.cart-icon .MuiButtonBase-root.MuiIconButton-root {
  color: whitesmoke;
}
.cart-icon .MuiButtonBase-root.MuiIconButton-root:hover {
  background-color: rgba(207, 199, 199, 0.452);
  color: whitesmoke;
}
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-right ul {
  float: right;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-right li {
  margin: 0px 10px;
}
.navbar-items-chip-searchbox {
  height: 32px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-items-chip-searchbox input {
  height: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 200px;
  padding-left: 2px;
  outline: none;
}
.navbar-items-chip-searchbox a {
  padding: 3.5px 10px;
  z-index: 1;
}
.navbar-items-chip-searchbox a:hover {
  background-color: rgb(246, 218, 56);
}
.navbar-items-chip-searchbox input:focus {
  font-family: "PT Sans";
  color: grey;
  background-color: rgba(255, 255, 255);
  border-bottom: 2px solid rgb(98, 221, 98);
}
.navbar-searchbox-submit {
  padding: 0px 5px;
}
.navbar-items-chip .dropdown {
  float: left;
  overflow: hidden;
  z-index: 1005;
}

.navbar-items-chip .dropdown .dropbtn {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  padding: 10px;
  font-size: 12px;
  background-color: inherit;
  margin: 0;
  z-index: 100;
  cursor: pointer;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(207, 199, 199, 0.452);
  z-index: 100;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 1010;
}

.dropdown-content a:hover {
  background-color: #ddd;
  z-index: 1010;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.mobile-cart {
  display: none;
}
@media screen and (max-width: 1200px) {
  .navbar-right {
    display: none;
  }
  .Sidenav-open {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    float: left;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  .navbar-logo {
    left: 66px;
  }
}
@media screen and (max-width: 800px) {
  .Sidenav-open {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    float: left;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  .navbar-items {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .mobile-cart {
    display: flex;
  }
}
