.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav-link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  transition: 0.3s;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-self: center;
}

.sidenav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidenav-link i {
  align-self: center;
  justify-self: center;
}
.sidenav-link span {
  grid-column: span 3;
}

.sidenav a:hover,
.sidenav .closebtn:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: block !important;
  color: #818181;
}
.sidenav-searchbar {
  position: relative;
  display: flex;
  justify-content: center;
}
.sidenav-searchbar input {
  width: 90%;
  height: 40px;
  padding: 0 0.5rem;
  font-size: 1rem;
}
.sidenav-searchbar a {
  display: block !important;
  position: absolute;
  right: 0.75rem;
  top: 0;
}
.sidenav .closebtn:hover {
  color: #818181;
}

.Profile {
  display: none;
}
@media screen and (max-width: 1200px) {
  .Profile {
    display: grid;
  }
  .sidenav-searchbar {
    display: flex;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 45px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
