.AllCategories-cont {
  font-family: "PT sans";
}
.AllCategories-search {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 56px;
  z-index: 1000;
  border: none;
}

.AllCategories-input {
  padding: 5px;
  padding-left: 15px;
  width: 50%;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 30px 0px 0px 30px;
  font-size: 14px;
}

.Search-button {
  padding: 5px;
  width: 200px;
  height: 30px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 0px 30px 30px 0px;
  letter-spacing: 2px;
  font-size: 14px;
}

.Search-button:hover {
  cursor: pointer;
}

.filter-result {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 140px;
  z-index: 1000;
  background-color: black;
}

.filter {
  padding: 10px 30px;
}

.filter .select {
  padding: 10px;
  background: white;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  width: 200px;
  outline: none;
  font-family: "PT sans", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  border: 1px solid rgb(117, 116, 116);
}

.filter .select:hover {
  background-color: #f3f3f3;
}
.loadMore {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.loadMore-btn {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #ff5100;
  color: #ff5100;
  font-family: "PT sans";
  letter-spacing: 2px;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
}

.book-more-details {
  max-width: 200px;
  padding: 10px;
  text-align: center;
  font-family: "PT Sans";
  font-weight: bold;
  background-color: rgb(62, 62, 238);
  color: white;
}
.book-more-details a {
  color: white;
}
.book-more-details:hover {
  cursor: pointer;
  background-color: rgb(4, 4, 158);
  transition: 0.5s;
}
.far.fa-heart:hover {
  color: rgb(255, 97, 97);
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}
.fas.fa-heart {
  color: red;
  font-weight: bolder;
  transition: 0.2s;
  cursor: pointer;
}

.search-result-book {
  display: flex;
  flex-direction: column;
  border: 0.2px solid rgb(226, 226, 226);
  width: 550px;
  height: 200px;
  margin: 10px;
}
.search-result-book:hover {
  transition: 0.5s;
  box-shadow: 4px 5px 9px rgba(78, 78, 78, 0.9);
  border: none;
}
.search-book {
  display: flex;
}
.search-book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  max-width: 400px;
}
.search-book-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
}
.search-result-book .book-tags {
  padding: 0px;
  justify-content: space-evenly;
}
@media screen and (max-width: 1200px) {
  .AllCategories-search {
    top: 56px;
  }
}
@media screen and (max-width: 450px) {
  .search-result-book .book-tags {
    display: none;
  }
  .search-result-book {
    height: auto;
    margin: 20px;
    border-radius: 15px;
  }
  .Search-button {
    width: 150px;
  }
  .search-book {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .search-book-pic {
    width: auto;
  }
}
@media screen and (max-width: 300px) {
  .Search-button {
    width: 100px;
    font-size: 12px;
  }
}
