.forgotpass-container {
  min-height: 100vh;
  width: 100vw;
  top: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(35, 47, 62);
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot-containerpass {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}
.forgot-small-nav {
  position: absolute;
  float: left;
  left: 0px;
  top: 10px;
  color: aliceblue;
  font-family: "PT Sans";
  cursor: pointer;
}
.forgot-small-nav span:hover {
  color: orange;
  border-bottom: 1px solid orange;
  transition: 0.3s;
}
.forgot-container-main {
  font-family: "PT Sans";
}
.forgot-container-update button {
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  width: 320px;
  height: 50px;
  text-align: center;
  background-color: #ff5100;
  color: white;
  cursor: pointer;
}
.forgot-container-otp .MuiAlert-outlinedError {
  color: red;
}
.forgot-container-otp .MuiAlert-outlinedSuccess {
  color: rgb(9, 216, 9);
}
#send-otp-again-alert-2 {
  position: absolute;
  float: right;
  right: -150px;
  top: 10px;
}
@media screen and (max-width: 800px) {
  .alert-space {
    margin-top: 40px;
  }
  #send-otp-again-alert-2 {
    left: 0px;
    right: 0px;
    top: 70px;
  }
  .forgot-containerpass {
    width: 100%;
  }
  .forgot-small-nav {
    left: 10px;
    top: 0px;
  }
}
