.forgotmain-container {
  max-height: 600px;
  max-width: 500px;
  margin: 40px auto;
  padding-bottom: 20px;
  background-color: rgb(35, 47, 62);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: whitesmoke;
  border-radius: 20px;
}
.forgot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.forgot-container-logo {
  margin-top: 20px;
  margin-left: -20px;
}
.forgot-container-main {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: "Staatliches", cursive;
  letter-spacing: 5px;
  text-align: center;
}
.forgot-container-email input {
  width: 400px;
  height: 50px;
  text-align: center;
  border: none;
  color: white;
  border-bottom: 2px solid rgb(34, 168, 235);
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 2px;
}
.forgot-container-otp {
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
}
.forgot-container-otp input {
  width: 300px;
  height: 30px;
  text-align: center;
  border: none;
  color: rgb(20, 18, 18);
  border-bottom: 2px solid rgb(34, 168, 235);
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 2px;
  margin-right: 10px;
}
.forgot-container-otp button {
  width: 100px;
  height: 30px;
  text-align: center;
  border: none;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(34, 168, 235);
  background-color: rgb(107, 235, 224);
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 10px;
  letter-spacing: 2px;
}

.forgot-container-verify,
.forgot-container-password,
.forgot-container-update,
.forgot-container-login {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.forgot-container-verify button {
  width: 200px;
  height: 40px;
  text-align: center;
  border: none;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(243, 243, 243);
  background-color: rgb(107, 235, 139);
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.forgot-container-password input {
  width: 400px;
  height: 50px;
  text-align: center;
  border: none;
  color: rgb(39, 38, 38);
  border-bottom: 2px solid rgb(247, 250, 252);
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 2px;
}
.forgot-container-password input::placeholder {
  color: rgb(7, 7, 7, 0.4);
}
.forgot-container-update button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  letter-spacing: 2px;
  width: 300px;
  color: black;
  font-family: "Staatliches", cursive;
  background-image: linear-gradient(
    to right,
    rgb(213, 228, 6),
    rgb(6, 226, 24)
  );
  opacity: 0.4;
}
.forgot-container-update button:hover {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  transform: scale(1.01, 1.01);
  transition: 0.1s;
  color: white;
}
.forgot-container-update button:focus {
  outline: none;
}
.forgot-container-login button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  letter-spacing: 2px;
  width: 300px;
  color: black;
  font-family: "Staatliches", cursive;
  background-image: linear-gradient(
    to right,
    rgb(213, 228, 6),
    rgb(6, 226, 24)
  );
}
.forgot-container-login button:hover {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  transform: scale(1.01, 1.01);
  transition: 0.1s;
  color: white;
}
.forgot-container-login button:focus {
  outline: none;
}
.forgot-container-otp input:focus {
  outline: none;
  border-bottom: 2px solid rgb(73, 235, 73);
}
.forgot-container-otp button:hover {
  color: white;
}
.forgot-container-otp button:focus {
  outline: none;
}
.forgot-container-verify button:focus,
.forgot-container-password input:focus,
.forgot-container-update button:focus,
.forgot-container-login button:focus {
  outline: none;
  opacity: 0.8;
}
@media only screen and (max-width: 470px) {
  .forgotmain-container {
    max-width: 400px;
  }
  .forgot-container-email,
  .forgot-container-otp,
  .forgot-container-verify,
  .forgot-container-password,
  .forgot-container-update,
  .forgot-container-login {
    width: 300px;
  }
  .forgot-container-email input {
    width: 300px;
  }
}
