.forgotpass-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot-containerpass {
  width: 80vw;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  margin: 20px;
}
.forgot-container-update button {
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  transition: 0s;
  border-radius: 5px;
  width: 400px;
  height: 50px;
  text-align: center;
  background-color: #ff5100;
  color: white;
  cursor: pointer;
}
.forgot-container-otp .MuiAlert-outlinedError {
  color: red;
}
.forgot-container-otp .MuiAlert-outlinedSuccess {
  color: rgb(9, 216, 9);
}
#send-otp-again-alert-2 {
  position: absolute;
  float: right;
  right: -250px;
  top: 10px;
}
