.login-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(35, 47, 62);
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  width: 50%;
  margin: 10vh auto;
  background-color: rgb(35, 47, 62);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.login-floating-nav {
  position: absolute;
  float: left;
  left: -40px;
  top: -40px;
  color: aliceblue;
  font-family: "PT Sans";
  cursor: pointer;
}
.login-floating-nav span:hover {
  color: orange;
  border-bottom: 1px solid orange;
  transition: 0.3s;
}
/* Left container Css */
.login-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-container-left-logo {
  margin: 10px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container-left-main {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-container-left-main h2 {
  font-size: 3em;
  margin-bottom: 20px;
  font-family: "Staatliches", cursive;
  letter-spacing: 5px;
}
.login-form-email-lable {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.login-form-email-input input,
.login-form-password-input input {
  width: 400px;
  height: 50px;
  border: none;
  border-bottom: 2px solid rgb(67, 184, 232);
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 14px;
  background-color: white;
  color: rgb(0, 0, 0);
}
.login-form-password-lable {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin: 10px 0px;
}
.login-form-password-input,
.login-form-email-input {
  position: relative;
}

.login-form-email-input input:focus,
.login-form-password-input input:focus {
  transition: 0.1s;
  outline: none;
  border-bottom: 3px solid rgb(67, 232, 122);
  background-color: white;
  color: black;
}
.login-form-email-input span,
.login-form-password-input span {
  position: absolute;
  float: right;
  top: -15px;
  right: 0px;
  font-size: 12px;
  color: red;
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.login-form-email-input input::placeholder,
.login-form-password-input input::placeholder {
  font-size: 14px;
}
.login-form-email-input input:focus::placeholder,
.login-form-password-input input:focus::placeholder {
  letter-spacing: 2px;
  transition: 0.3s;
  color: rgb(67, 232, 122);
}
.login-form-password-input i#eye {
  position: absolute;
  float: right;
  right: 20px;
  top: 15px;
  font-size: 20px;
  color: rgb(53, 53, 53);
}
.login-form-password-input i:hover {
  cursor: pointer;
}
.login-form-forgot-password {
  display: flex;
  justify-content: flex-end;
}
.login-form-forgot-password a {
  text-decoration: none;
}
.login-form-forgot-password a {
  display: flex;
  justify-content: center;
  color: rgb(59, 150, 235);
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  font-weight: 900;
  font-size: 14px;
}
.login-form-forgot-password a:hover {
  color: rgb(243, 91, 64);
  font-weight: boldder;
}
.login-form-submit-button button {
  padding: 15px;
  font-size: 24px;
  border: none;
  border-radius: 30px;
  letter-spacing: 2px;
  width: 200px;
  font-family: "Staatliches", cursive;
  background-image: linear-gradient(
    to right,
    rgb(213, 228, 6),
    rgb(6, 226, 24)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin-top: 10px;
}
.login-form-submit-button button:hover {
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.9);
  transform: scale(1.01, 1.01);
  color: white;
  transition: none;
}
.login-form-submit-button {
  position: relative;
}
.register {
  float: left;
  position: absolute;
  top: 70px;
  left: 15px;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
}
.register a {
  color: rgb(59, 150, 235);
}
.register a:hover {
  color: rgb(59, 150, 235);
  color: rgb(243, 91, 64);
  letter-spacing: 3px;
  transition: 0.3s;
}
/* for medium screen size devices eg : tablets, ipads , small laptops */
@media only screen and (max-width: 996px) {
  .login-container-right-container-logo img {
    width: 180px;
    height: 180px;
  }
  .login-form-email-input input,
  .login-form-password-input input {
    width: 350px;
    font-size: 16px;
  }
  .login-form-forgot-password {
    font-size: 16px;
    justify-content: flex-end;
  }
  .login-container-right-container-register-button-card-front,
  .login-container-right-container-register-button-card-back h2 {
    font-size: 16px;
  }
}
/* for small display devices */
@media only screen and (max-width: 768px) {
  .login-container-right-container-logo img {
    width: 120px;
    height: 120px;
  }
}

/* for smaller display devices */
@media only screen and (max-width: 691px) {
  .login-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-container-right {
    width: 100%;
  }
  .login-container-right-container {
    padding-top: 20px;
  }
  .login-container-right-container-logo {
    display: none;
  }
  .login-container-right-container-logo img {
    display: none;
  }
  .login-container-right-container-register-button-card {
    height: 30px;
  }
  .login-container-right-container-register-button {
    padding: 10px;
  }
  .login-form-email-input input,
  .login-form-password-input input {
    width: 400px;
    font-size: 16px;
  }
}
/* for extra-smaller display devices */
@media only screen and (max-width: 571px) {
  .login-form-email-input input,
  .login-form-password-input input {
    width: 300px;
    font-size: 16px;
  }
  .login-form-email-lable,
  .login-form-password-lable {
    font-size: 20px;
  }
  .login-form-forgot-password {
    padding-right: 0px;
  }
}

/* for extra-smaller display devices */
@media only screen and (max-width: 441px) {
  .login-form-email-lable,
  .login-form-password-lable {
    font-size: 20px;
  }
  .login-bg {
    overflow: auto;
  }
}

@media only screen and (max-height: 600px) {
  .login-container-right-container-logo img {
    width: 180px;
    height: 180px;
  }
  .login-container-left-logo h2 {
    margin: 10px;
  }
  .login-container-left-main {
    padding: 10px 40px;
  }
  .login-form-email-lable,
  .login-form-password-lable {
    margin: 5px 0px;
  }
}
@media only screen and (max-height: 571px) {
  .login-container {
    margin: 0px;
    height: 100%;
    width: 100%;
  }
  .login-container-left-logo h2 {
    margin: 10px;
  }
  .login-container-left-main {
    padding: 10px 40px;
  }
  .login-form-email-lable,
  .login-form-password-lable {
    margin: 5px 0px;
  }
}
@media only screen and (max-height: 464px) {
  .login-container-left-logo {
    margin: 5px;
  }
  .login-container-left-main h2 {
    margin: 5px;
    font-size: 20px;
    text-align: center;
  }
  .login-form-email-input,
  .login-form-email-lable,
  .login-form-password-input,
  .login-form-password-lable,
  .login-form-forgot-password,
  .login-form-submit-button {
    text-align: center;
  }
  .login-container-left-main {
    padding: 10px 40px;
  }
  .login-form-email-lable,
  .login-form-password-lable {
    margin: 5px 0px;
  }
}

.login-load {
  display: none;
  position: absolute;
  float: left;
  left: 150px;
  top: 20px;
}

.login-as-bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.login-as-bg h1 {
  font-family: "PT sans";
  color: #ffffff;
  font-size: 4em;
  position: relative;
}
.login-as-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.login-as-box {
  width: 300px;
  height: 300px;
  border: 5px solid white;
  background: linear-gradient(to right, #232526, #414345);
  margin: 20px;
  border-radius: 30px;
  padding: 10px;
  font-family: "PT Sans";
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.login-as-box-img {
  font-size: 5em;
  color: orange;
}
.login-as-box-title {
  font-size: 3em;
}
.login-as-box:hover {
  cursor: pointer;
  background: crimson;
  color: white;
}
.login-as-loading-bg {
  float: left;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.94);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.login-as-loading-bg #loading {
  display: block;
  width: 10em;
  height: 10em;
  border: 10px solid #ffffff;
  border-top: 10px solid orangered;
  animation: spin 1s infinite linear;
}
@media screen and (max-width: 600px) {
  .login-as-box {
    width: 150px;
    height: 150px;
  }
  .login-as-box-img {
    font-size: 3em;
    color: orange;
  }
  .login-as-box-title {
    font-size: 2em;
  }
}
