.login-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  background-image: linear-gradient(
    to right,
    rgb(67, 184, 232),
    rgb(52, 118, 214)
  );
}
.login-container {
  width: 80%;
  height: 80%;
  margin: 10vh auto;
  background-color: rgb(35, 47, 62);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Left container Css */
.login-container-left {
  display: flex;
  min-width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container-left-logo {
  margin: 10px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container-left-main {
  width: 100%;
  padding: 20px 40px;
  color: aliceblue;
}
.login-container-left-main h2 {
  font-size: 4em;
  margin-bottom: 20px;
  font-family: "Staatliches", cursive;
  letter-spacing: 5px;
}
.login-form-email-lable {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.login-form-email-input input {
  width: 400px;
  height: 50px;
  border: none;
  border-bottom: 2px solid rgb(67, 184, 232);
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 20px;
  background-color: transparent;
}
.login-form-password-lable {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  letter-spacing: 3px;
  margin: 10px 0px;
}
.login-form-password-input input {
  width: 400px;
  height: 50px;
  border: none;
  border-bottom: 2px solid rgb(67, 184, 232);
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 20px;
  background-color: transparent;
}
.login-form-email-input input:focus,
.login-form-password-input input:focus {
  transition: 0.1s;
  outline: none;
  border-bottom: 2px solid rgb(67, 232, 122);
  background-color: white;
}
.login-form-forgot-password a {
  text-decoration: none;
}
.login-form-forgot-password a {
  display: flex;
  justify-content: center;
  color: blueviolet;
  font-family: "Roboto", sans-serif;
  padding-top: 5px;
  font-weight: 900;
}
.login-form-forgot-password a:hover {
  color: rgb(238, 159, 113);
  font-weight: boldder;
}
.login-form-submit-button {
  padding: 10px 0px;
}
.login-form-submit-button button {
  padding: 15px;
  font-size: 24px;
  border: none;
  border-radius: 30px;
  letter-spacing: 2px;
  width: 200px;
  font-family: "Staatliches", cursive;
  background-image: linear-gradient(
    to right,
    rgb(213, 228, 6),
    rgb(6, 226, 24)
  );
}
.login-form-submit-button button:hover {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  transform: scale(1.01, 1.01);
  transition: 0.1s;
  color: white;
}
.login-form-submit-button button:focus {
  outline: none;
}
/** Right container Css */
.login-container-right {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Poiret One", cursive;
}
.login-container-right-container {
  height: 100%;
  width: 100%;
  background-color: rgba(27, 0, 39, 0.8);
}
.login-container-right-container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}
.login-container-right-container-register {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container-right-container-register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.login-container-right-container-register-button-card {
  height: 50px;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}
.login-container-right-container-register-button-card:hover
  .login-container-right-container-register-button-card-front {
  transform: rotateX(-180deg);
}
.login-container-right-container-register-button-card:hover
  .login-container-right-container-register-button-card-back {
  transform: rotateX(0deg);
}
.login-container-right-container-register-button-card-back a {
  text-decoration: none;
  color: antiquewhite;
}
.login-container-right-container-register-button-card-front {
  height: 100%;
  width: 100%;
  color: whitesmoke;
  font-size: 16px;
  text-align: center;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
  letter-spacing: 2px;
}

.login-container-right-container-register-button-card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 107, 49, 0.9);
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3px;
  letter-spacing: 5px;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(255, 255, 255, 0.8);
}
.login-container-right-container-register-button-card-back h2 {
  font-size: 26px;
}
/* for medium screen size devices eg : tablets, ipads , small laptops */
@media only screen and (max-width: 996px) {
  .login-container-right-container-logo img {
    width: 180px;
    height: 180px;
  }
  .login-form-email-input input,
  .login-form-password-input input {
    width: 350px;
    font-size: 16px;
  }
  .login-form-forgot-password {
    font-size: 16px;
    justify-content: flex-end;
    padding-right: 20px;
  }
  .login-form-submit-button button {
    width: 150px;
  }
  .login-container-right-container-register-button-card-front,
  .login-container-right-container-register-button-card-back h2 {
    font-size: 16px;
  }
}
/* for small display devices */
@media only screen and (max-width: 768px) {
  .login-container-right-container-logo img {
    width: 120px;
    height: 120px;
  }
}

/* for smaller display devices */
@media only screen and (max-width: 691px) {
  .login-container {
    flex-direction: column;
    margin-top: 8%;
  }
  .login-container-right-container {
    padding-top: 20px;
  }
  .login-container-right-container-logo {
    display: none;
  }
  .login-container-right-container-logo img {
    display: none;
  }
  .login-container-right-container-register-button-card {
    height: 30px;
  }
  .login-container-right-container-register-button {
    padding: 10px;
  }
  .login-form-email-input input,
  .login-form-password-input input {
    width: 400px;
    font-size: 16px;
  }
}
/* for extra-smaller display devices */
@media only screen and (max-width: 571px) {
  .login-form-email-input input,
  .login-form-password-input input {
    width: 300px;
    font-size: 16px;
  }
  .login-form-email-lable,
  .login-form-password-lable {
    font-size: 20px;
  }
  .login-form-forgot-password {
    padding-right: 0px;
  }
}

/* for extra-smaller display devices */
@media only screen and (max-width: 441px) {
  .login-form-email-input input,
  .login-form-password-input input {
    width: 200px;
    font-size: 16px;
  }
  .login-form-email-lable,
  .login-form-password-lable {
    font-size: 20px;
  }
  .login-form-forgot-password {
    padding-right: 0px;
  }
}

@media only screen and (max-height: 600px) {
  .login-container-right-container-logo img {
    width: 180px;
    height: 180px;
  }
  .login-container-left-logo h2 {
    margin: 10px;
  }
  .login-container-left-main {
    padding: 10px 40px;
  }
  .login-form-email-lable,
  .login-form-password-lable {
    margin: 5px 0px;
  }
}
@media only screen and (max-height: 571px) {
  .login-container {
    margin: 0px;
    height: 100%;
    width: 100%;
  }
  .login-container-left-logo h2 {
    margin: 10px;
  }
  .login-container-left-main {
    padding: 10px 40px;
  }
  .login-form-email-lable,
  .login-form-password-lable {
    margin: 5px 0px;
  }
}
@media only screen and (max-height: 464px) {
  .login-container-left-logo {
    margin: 5px;
  }
  .login-container-left-main h2 {
    margin: 5px;
    font-size: 20px;
    text-align: center;
  }
  .login-form-email-input,
  .login-form-email-lable,
  .login-form-password-input,
  .login-form-password-lable,
  .login-form-forgot-password,
  .login-form-submit-button {
    text-align: center;
  }
  .login-container-left-main {
    padding: 10px 40px;
  }
  .login-form-email-lable,
  .login-form-password-lable {
    margin: 5px 0px;
  }
}
