@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
}

body {
  overflow-y: auto;
  scrollbar-gutter: stable;
}