.active-orders-table {
  border-collapse: collapse;
  margin: 25px 10px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 320px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: none;
  width: 100%;
}
.active-orders-table thead tr th {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  border: none;
  letter-spacing: 2px;
  font-family: "PT Sans";
}
.active-orders-table th,
.active-orders-table td {
  padding: 12px 15px;
  text-align: center;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.active-orders-table tbody tr {
  border: none;
  border-bottom: 1px solid #dddddd;
  height: 150px;
}

.active-orders-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.active-orders-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.active-orders-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

@media screen and (max-width: 600px) {
  .active-orders-table {
    margin: 10px 0px;
  }
  .active-orders-table thead tr th {
    letter-spacing: 1px;
  }
  .active-orders-table th,
  .active-orders-table td {
    padding: 5px;
    font-size: 12px;
    text-align: center;
  }
}
