.order-tracking-container-body {
  background: aliceblue;
  width: 100%;
}
.order-tracking-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "PT sans";
}
.order-description {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
  flex-wrap: wrap;
}
.order-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
}
.order-details h1 {
  font-size: 16px;
}
.order-details li {
  font-size: 14px;
  margin: 10px 5px;
  color: rgb(42, 42, 42);
}
.order-details i {
  font-size: 14px;
}
.order-details li span {
  width: 100px;
  margin-right: 40px;
  color: blue;
}
.order-progress {
  width: 100%;
  font-family: "PT sans";
}
.order-progress .MuiTypography-body2 {
  font-family: "PT sans";
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.order-tracking-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.download-receipt-button {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(77, 108, 248);
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.cancel-order-button {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(253, 44, 44);
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.cancel-order-button:hover {
  cursor: pointer;
  background-color: rgb(250, 0, 0);
}

.download-receipt-button:hover {
  cursor: pointer;
  background-color: rgb(0, 44, 240);
}

@media screen and (max-width: 450px) {
  .order-description {
    font-size: 12px;
  }
  .order-tracking-buttons {
    flex-direction: column;
    justify-content: center;
  }
  .download-receipt-button {
    margin-top: 10px;
  }
}
