@media (max-width: 560px) {
  .userPanel-container {
    padding-left: 10px;
  }
  .userPanel-container .MuiTabs-flexContainer {
    padding: 9px !important;
    flex-direction: column;
  }
  .userPanel-container .MuiTab-root {
    padding: 16px !important;
    justify-content: flex-start;
    font-size: 14px !important;
  }
}
