.add-book-bg {
  overflow-x: hidden;
}
#add-book-textfield,
.add-book-bg .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root,
.add-book-bg .css-1d1r5q-MuiFormHelperText-root,
.add-book-bg .css-1kty9di-MuiFormLabel-root-MuiInputLabel-root,
.add-book-bg .css-1wc848c-MuiFormHelperText-root,
.add-book-bg .css-348fk2,
.add-book-bg .css-j7o63n,
.add-book-bg .css-v7esy,
.add-book-bg .css-1rcvyyg {
  font-family: "Pt sans" !important;
}
.add-book-form-lf,
.add-book-form-rt {
  padding: 10px;
}
.add-book-form-lf fieldset,
.add-book-form-rt fieldset {
  border-radius: 10px 10px 0px 0px;
  padding: 12px 15px;
}
.add-book-form-lf fieldset legend {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0px 5px;
}
.add-book-form-lf .css-1kty9di-MuiFormLabel-root-MuiInputLabel-root,
.add-book-form-lf .css-1rcvyyg {
  left: 10px;
}
li.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root,
li.css-1km1ehz,
.add-book-form-lf .css-1cq0fp4.css-1cq0fp4.css-1cq0fp4 {
  font-family: "PT sans" !important;
  font-size: 0.65rem;
  padding: 4px;
}
.add-book-form-lf .MuiChip-root,
.add-book-form-lf
  .css-bf1e45-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-bf1e45-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-bf1e45-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: "pt sans";
  font-size: 0.65rem;
}
.add-book-form-lf .MuiAlert-root {
  font-family: "pt sans";
  font-size: 0.65rem;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
}
.uploaded-image-item {
  position: relative;
  border: 2px solid transparent;
}
.uploaded-image-item .image-delete {
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 100;
  cursor: pointer;
}
.uploaded-image-item:hover {
  border: 2px solid orangered;
}
.add-book-form-lf .searchTagresult {
  position: absolute;
  left: 24px;
  top: 42px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 200;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.searchTagresult #result-tag {
  padding: 6px;
}

@media screen and (max-width: 400px) {
  .add-book-form-lf,
  .add-book-form-rt {
    padding: 0px;
  }
}
