.add-book-form-lf,
.add-book-form-rt {
  padding: 10px;
}
.add-book-form-lf fieldset,
.add-book-form-rt fieldset {
  border-radius: 10px 10px 0px 0px;
  padding: 12px 15px;
}
.add-book-form-lf fieldset legend {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0px 5px;
}

.add-book-form-lf .MuiAlert-root {
  font-family: "pt sans";
  font-size: 0.65rem;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
}
.uploaded-image-item {
  position: relative;
  border: 2px solid transparent;
}
.uploaded-image-item .image-delete {
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 100;
  cursor: pointer;
}
.uploaded-image-item:hover {
  border: 2px solid orangered;
}
.add-book-form-lf .searchTagresult {
  position: absolute;
  left: 24px;
  top: 42px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 200;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.searchTagresult #result-tag {
  padding: 6px;
}
.add-book-bg .MuiAlert-message {
  font-family: "PT sans" !important;
}

@media screen and (max-width: 400px) {
  .add-book-form-lf,
  .add-book-form-rt {
    padding: 0px;
  }
}
